@using StarFederation.Datastar.DependencyInjection
@inherits BlazorBlade<Page.PageModel>
@implements IMapEndpoints
@layout Layout

<style type="text/css">
    .header {
        color: blue;
    }
</style>

<PageTitle>Page</PageTitle>

<h1 class="header">Blazor Blades!</h1>

<h2>
    Welcome from @Model.Location - @Model.Name
</h2>

<hr />

<div data-init="@@get('/live')">
    <Status Model="Model.StatusModel" />
</div>
<button type="button" data-on:click="@@get('/status')">
    Update
</button>

<hr />

<div id="random">
    Free Lucky Number
</div>
<button type="button" data-on:click="@@get('/random')">
    Update
</button>

<hr />

<div id="age">
    @AgeFragment(100)
</div>
<button type="button" data-on:click="@@get('/old')">
    Update
</button>

<hr />

<div id="greeting">
    @Greetings.SayHi(Model.Name)
</div>
<button type="button" data-on:click="@@get('/greeting')">
    Update
</button>

@code
{
    public record PageModel(string Name, string Location, Status.StatusModel StatusModel);

    public static void MapEndpoints(IEndpointRouteBuilder app)
    {
        Random rnd = new();

        app.MapGet("/", async (string food = "Pizza") =>
        {
            // Child Status Model
            var statusModel = new Status.StatusModel
            (
                DateTime.Now,
                rnd.Next(0, 100),
                rnd.Next(0, 100),
                MoneyFragment(rnd.Next(0, 100000)
            ));

            // Page Model
            var model = new PageModel("Jason", "Arizona", statusModel);

            return Page.Blade(model);
        });

        app.MapGet("/status", async (IServiceProvider services, IDatastarService ds) =>
        {
            // External Model
            var model = new Status.StatusModel
            (
                DateTime.Now,
                rnd.Next(0, 100),
                rnd.Next(0, 100),
                MoneyFragment(rnd.Next(0, 100000)
            ));

            return Status.Blade(model);
        });

        app.MapGet("/live", async (IServiceProvider services, IDatastarService ds, CancellationToken ct) =>
        {
            while (!ct.IsCancellationRequested)
            {
                // External Model
                var model = new Status.StatusModel
                (
                    DateTime.Now,
                    rnd.Next(0, 100),
                    rnd.Next(0, 100),
                    MoneyFragment(rnd.Next(0, 100000)
                ));
                
                // Render HTML
                var html = await Status.RenderAsync(services, model);

                // Return Datastar SSE Element
                await ds.PatchElementsAsync(html);
                await Task.Delay(500);
            }
        });

        app.MapGet("/random", async () =>
        {
            // Inline Fragment

            return Results.Fragment
            (
                @<div id="random">
                    Lucky Number: @rnd.Next(1, 100)
                </div>
            );
        });

        app.MapGet("/greeting", async () =>
        {
            // External Fragment

            var fragment = rnd.Next(2) == 0
                ? Greetings.SayHello("Julia")
                : Greetings.SayHi("Jason");

            return Results.Fragment(fragment);
        });

        app.MapGet("/old", async (IServiceProvider services) =>
        {
            var fragment = AgeFragment(rnd.Next(40, 100));

            // Render HTML
            var html = await fragment.RenderAsync(services);

            // Or return as Blade!
            return fragment.Blade();
        });
    }

    private static RenderFragment AgeFragment(int years) =>
    (
        @<div id="age">
            @years is really old!
        </div>
    );

    private static RenderFragment MoneyFragment(int count) =>
    (
        @<b>
            $@count
        </b>
    );
}